@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6 {
  @apply font-sans;
}

h1 {
  @apply my-4 text-3xl sm:text-4xl md:text-5xl sm:my-6 md:my-8;
}

h2 {
  @apply my-3 text-3xl sm:text-4xl md:text-5xl sm:my-5 md:my-6;
}

h3 {
  @apply my-0 text-2xl sm:text-3xl md:text-4xl sm:my-1 md:my-2;
}

h4 {
  @apply my-1 text-xl sm:text-2xl md:text-3xl sm:my-3 md:my-4;
}

h5 {
  @apply my-1 text-lg sm:text-xl md:text-2xl sm:my-2 md:my-3;
}

h6 {
  @apply my-1 text-base sm:text-lg md:text-xl sm:my-1 md:my-2;
}

.theme-shadow {
  @apply shadow-lg shadow-red-300;
}

body {
  @apply font-sans;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  background: rgb(255 255 255 / 0.1);
  transition: background 160ms ease-out;
}
.ScrollAreaScrollbar:hover {
  background: rgb(255 255 255 / 0.3);
}
.ScrollAreaScrollbar[data-orientation='vertical'] {
  width: var(--scrollbar-size);;
}
.ScrollAreaScrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: var(--scrollbar-size);;
}
.ScrollAreaRoot {
  overflow: hidden;
  --scrollbar-size: 10px;
}


.ScrollAreaThumb {
  flex: 1;
  background: rgb(148 163 184);
  border-radius: var(--scrollbar-size);;
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

body::-webkit-scrollbar,
.table-scroll::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track,
.table-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
.table-scroll::-webkit-scrollbar-thumb {
  @apply bg-black;
}
