name: CI

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main"]
  merge_group:

# You can leverage Vercel Remote Caching with Turbo to speed up your builds
# @link https://turborepo.org/docs/core-concepts/remote-caching#remote-caching-on-vercel-builds
env:
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

jobs:
  build-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      # - name: Setup Node 18
      #   uses: actions/setup-node@v3
      #   with:
      #     node-version: 18

      - name: Install deps (with cache)
        run: bun install

      - name: Build, lint and type-check
        run: bun turbo build lint format typecheck

      # TODO: Find a suitable replacement for manypkg / wait for Bun support
      # - name: Check workspaces
      #   run: bun manypkg check
